node_modules/
sandbox/gtfsdump.json
.expo/
npm-debug.*
.idea
src/core/data/*
.vscode
jsconfig.json
package-lock.json
yarn.lock

yarn-error.log
android/.gradle/
android/app/libs
libe2.keystore
*.rawproto
.history
server/out/trainSchedulesServer.bin.js
